.about {
  margin: 20px 5%;
  bottom: 662px;
  color: $blue;
  &__text {
    text-align: center;
  }
}
@include medium {
  .about {
    width: 50%;
    margin: 50px auto;
    bottom: 800px;
    &__heading {
      margin-top: 0;
    }
  }
}
