.about {
  margin: 20px 5%;
  bottom: 662px;
  color: $blue;
}
@include medium {
  .about {
    width: 50%;
    margin: 50px 25% 210px 25%;
    bottom: 800px;
    &__heading {
      margin-top: 0;
    }
  }
}
