.carousel {
  position: relative;
  height: 950px;
  width: 95%;
  margin: 60px auto;
  // overflow: hidden;
  &__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__track {
    padding: 0;
    margin: 0;
    list-style: none;
    &-container {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
  &__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &__button {
    background-color: $grey;
    color: $blue;
    border: 0;
    position: absolute;
    bottom: -60px;
    transform: translateY(-50%);
    &--left {
      width: 40px;
      height: 40px;
      left: -5px;
    }
    &--right {
      width: 40px;
      height: 40px;
      right: -5px;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $black;
    opacity: 0.2;
    margin: 0 15px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}
@include medium {
  .carousel {
    position: relative;
    height: 770px;
    width: 90%;
    margin: 93px auto;
    // overflow: hidden;
    &__image {
      width: 100%;
      object-fit: cover;
      height: 100%;
      padding: 0 5%;
    }

    &__track {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      height: 100%;
      transition: transform ease 2.5s;
      &-container {
        width: 80%;
        margin: 0 12%;
        height: 100%;
        position: relative;
      }
    }
    &__slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    &__button {
      z-index: 111111;
      top: 50%;
      transform: translateY(-50%);
      &--left {
        width: 50px;
        height: 50px;
        left: -30px;
      }
      &--right {
        width: 50px;
        height: 50px;
        right: -30px;
      }
    }
    &__nav {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    &__indicator {
      border: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $black;
      margin: 0 12px;
      &.current-slide {
        background-color: $black;
        opacity: 0.75;
      }
    }
  }
}
