.projects {
  margin: 20px 5% 0 5%;

  &__heading {
    color: $blue;
    margin-top: 0;

    &-small {
      color: $blue;
      margin: 0;
      &-main {
        margin-left: 0;
        margin-top: 20px;
        color: $blue;
      }
    }
  }
  &__image {
    width: 60%;
    margin-left: 18%;
    height: 200px;
    object-fit: contain;

    &-svg {
      width: 10%;
      height: 50px;
    }
  }
  &__div {
    background: #fff;
    border-radius: 25px;
    // box-shadow: 1px 1px 7px -6px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: $blue;
    margin-bottom: 10px;
    & a {
      width: 50%;
    }
    &-button {
      cursor: pointer;
    }
  }
  & span {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: $blue;
    margin: 5px;
    border-radius: 50%;
    transition: ease 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  & .slider {
    width: 50%;
    text-align: center;
    margin: 20px auto;
  }
}

@include medium {
  .projects {
    width: 60%;
    margin: 20px auto;

    &__heading {
      color: $blue;
      margin: 10px;
      margin-left: 18.4%;
      &-small {
        &-main {
          margin-left: 11%;
        }
      }
    }
    &__image {
      width: 60%;
      height: 300px;
      transition: ease 0.5s;
      z-index: 1;
      margin-left: 24%;

      &-svg {
        width: 40px;
        height: 40px;
        margin: 0 30px;
      }
      a {
        height: 100px;
      }
    }
    &__div {
      flex-direction: column;
      background: #fff;
      border-radius: 25px;
      margin-bottom: 40px;
      box-shadow: 1px 1px 25px -5px;
      padding: 10px;
      display: flex;
      flex-wrap: unset;
      color: $blue;
      margin: 0 5%;

      &-images {
        display: flex;
        flex-wrap: wrap;
        width: 76%;
        margin-left: 9%;
      }
      &-button {
        display: flex;
        margin-left: 30%;
        align-items: center;
        transition: ease 0.4s;
        color: $blue;

        &:hover {
          padding-top: 0;
          transform: scale(1.012);
          filter: unset;
        }
      }
      &-small {
        width: 85%;
        margin: 0 auto;
      }
    }
    &__div-move {
      width: 100%;
    }
  }
}
