.work {
  &__heading {
    color: $blue;
    padding-left: 5%;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__small-div {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    color: $blue;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}
@include medium {
  .work {
    width: 55%;
    margin: 0 auto;
    &__heading {
      padding-left: 0;
      padding-top: 20px;
    }
    &__image {
      width: 100%;
      height: 100%;
    }
    &__small-div {
      margin: 30px auto;
    }
  }
}
